{% extends "Home/base.html" %}

{% load static %}

{% block title %}Available Drinks{% endblock title %}

{% block body %}

<div class="row ">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Available Drinks</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" id="check-all">
                      </label>
                    </div>
                  </th>
                  <th> ID </th>
                  <th> Drink </th>
                  <th> Cost </th>
                  <th> Opening Stock </th>
                  <th> Added Stock </th>
                  <th> Sold Stock </th>
                  <th> Closing Stock </th>
                </tr>
              </thead>
              <tbody>
                {% for drink in drinks %}
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td> {{ drink.id }} </td>
                  <td> {{ drink.name }}</td>
                  <td> {{ drink.cost }} </td>
                  <td> {{ drink.opening_stock }} </td>
                  <td> {{ drink.added_stock }} </td>
                  <td> {{ drink.sold_stock }} </td>
                  <td> {{ drink.closing_stock }} </td>
                  <td><div class="badge badge-outline-success"><a href="{% url "selldrink" drink.pk %}">Sell</a></div></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}